@media only screen and (max-width: 768px) {
    .container {
        width: 85%;
    }

    .banner-content {
        margin: 1rem 0;
        margin-left: 2rem;
    }

    .banner-large {
        display: none;
    }

    .banner-medium {
        display: block;
    }

    .banner-content h1 {
        font-size: 40px;
        line-height: 50px;
        font-weight: 700;
        color: #fff;
        margin-bottom: 1rem;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 1.5rem;
    }

    .banner-img img {
        width: 90%;
        height: 100%;
    }

    .content-section {
        display: block;
        column-gap: 0px;
        margin: 6rem 0;
        width: 100%;
    }

    .sidebar button {
        border: 1px solid #e8e8e8;
        width: 100%;
    }

    .sidebar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background: transparent;
        column-gap: 10px;
        padding: 0;
        margin-bottom: 25px;
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    .sidebar button:nth-child(2) {
        margin: 0;
    }

    .blog {
        background-color: #dd0000 !important;
        color: #fff !important;
    }

    .main-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        width: 100%;
    }

    .card {
        width: 100%;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }

    .card-body {
        padding: 25px;
        margin-top: 10px;
    }

    .expend-cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
    }

    .view-all {
        padding: 16px 35px;
        background: #dd0000;
        border-radius: 5px;
        outline: none;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .last-card {
        display: none;
    }

    .footer-links {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 2rem;
    }

    .footer-links ul {
        column-gap: 20px;
    }

    .footer-links li {
        margin-right: 0;
    }
}

@media only screen and (max-width: 576px) {
    .banner-section {
        display: block;
    }

    .banner-content {
        margin: 2rem 0rem;
        padding: 0px 4rem;
        width: 100%;
        text-align: center;
    }

    .banner-content h1 {
        font-size: 22px;
        line-height: 33px;
        text-align: center;
    }

    .banner-content p {
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    .banner-button {
        padding: 12px 20px;
        margin-left: 3rem;
    }

    .banner-img img {
        width: 80%;
        margin-left: 3rem;
    }

    .sidebar {
        display: block;
    }

    .sidebar button {
        margin: 15px 0;
    }

    .content-section {
        margin: 3rem 0;
    }

    .main-content {
        display: block;
        margin-top: 2rem;
    }

    .card-body {
        padding: 25px;
        margin-top: 2.5rem;
    }

    .card {
        margin-bottom: 2rem;
    }

    .expend-cards {
        display: none;
    }

    .footer-section {
        padding: 2rem 0;
    }

    .footer-section h2 {
        font-size: 22px;
        line-height: 33px;
        font-weight: 600;
        color: #fff;
        margin-bottom: 1rem;
    }

    .footer-links ul {
        display: block;
    }

    .footer-links li {
        margin-bottom: 1.5rem;
    }
}