* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* Container Section */
.container {
    width: 80%;
    margin: 0 auto;
}

/* Banner Section */
.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    background: #161616;
    margin-top: 2.5rem;
    border-radius: 30px;
    overflow: hidden;
}

.banner-medium {
    display: none;
}

.banner-content {
    margin: 3rem 0;
    margin-left: 5rem;
}

.banner-content h1 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1rem;
}

.banner-content p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 2rem;
}

.banner-button {
    padding: 16px 25px;
    background: #dd0000;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.banner-button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    transition: all .1s ease-in-out;
}

.banner-button span {
    margin-left: 1rem;
}

.banner-img {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.banner-img img {
    width: 82%;
    height: 102%;
}

/* Content Section */
.content-section {
    display: flex;
    column-gap: 10px;
    margin: 6rem 0;
    width: 100%;
}

.sidebar {
    background: #161616;
    padding: 25px;
    border-radius: 10px;
    height: 100%;
    width: 22%;
}

.sidebar button {
    display: block;
    width: 100%;
    padding: 16px 25px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    border: none;
    color: #161616;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}

.sidebar button:nth-child(2) {
    margin: 25px 0;
}

.sidebar button:hover,
.sidebar button:focus {
    background-color: #dd0000;
    color: #fff;
    transition: all .2s ease-in-out;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 77%;
}

.card {
    width: 270px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.card-header {
    width: 100%;
    height: 163px;
}

.card-header img {
    width: 100%;
}

.card-body {
    padding: 15px;
}

.card-body .transfer {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    border: 1px solid #161616;
    border-radius: 5px;
    padding: 2px 12px;
}

.card-body p {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    margin: 10px 0;
}

.card-icons {
    display: flex;
}

.card-icons p {
    font-size: 16px;
    color: #5C5C5C;
}

.card-icons span {
    margin-left: 5px;
    margin-right: 20px;
}

.expend-cards {
    display: none;
}

/* Footer Section */
.footer-section {
    background: #161616;
    text-align: center;
    padding: 8rem 0;
}

.footer-section h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2rem;
}

.horizontal {
    width: 80%;
    opacity: 10%;
    position: absolute;
    left: 10%;
}

.footer-links {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.footer-links ul {
    display: flex;
    text-align: center;
}

.footer-links li {
    list-style: none;
    margin-right: 3rem;
}

.footer-links li:last-child {
    margin: 0;
}

.footer-links li a {
    text-decoration: none;
    color: #b9b9b9;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.footer-links li a:hover {
    /* color: #dd0000; */
    color: #fff;
    transition: all .2s ease-in-out;
}

.social-icons {
    margin-top: 3rem;
    font-size: 25px;
}

.social-icons a {
    text-decoration: none;
}

.twitter-icon {
    margin: 0 1.5rem;
}

.social-icons i {
    cursor: pointer;
    color: #b9b9b9;
}

.facebook-icon, .twitter-icon, .instagram-icon {
    cursor: context-menu;
}

.facebook-icon i:hover {
    color: #38529A;
}

.twitter-icon i:hover {
    color: #4DA6E9;
}

.instagram-icon i:hover {
    color: #9A1020;
}